@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

footer{
	margin-top:50px;
  
    width:100%;
    background-color: #424242;
    color: #eee;
    text-align: left;
    padding: 20px;
    font-size: 18px;
}
footer p{
    padding: 10px;
}